<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="parentCategory" type="by.it.academy.grodno.elibrary.api.dto.books.CategoryDto"*/-->
<div th:fragment="addCategoryModal(parentCategory)" th:remove="tag">
    <!-- Button trigger modal delete category -->
    <button type="button" class="btn btn-sm" data-bs-toggle="modal"
            th:attr="data-bs-target='#addCategoryModal' + *{parentCategory.id}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
        </svg>
    </button>

    <!-- delete category modal -->
    <div class="modal fade" th:id="'addCategoryModal' + *{parentCategory.id}" tabindex="-1"
         th:attr="aria-labelledby='#addCategoryModalLabel' + *{parentCategory.id}"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:id="'addCategoryModalLabel' + *{parentCategory.id}">Do you want add new category?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p th:text="'Do you really want to add cateogry to ' + *{parentCategory.categoryName} + '?'"></p>
                    <form action="#" th:action="@{categories}" th:method="POST"
                          th:id="'addCategoryFormId' + *{parentCategory.id}">
                        <div class="input-group mt-3 mb-3">
                            <label for="categoryName" class="input-group-text">Category name</label>
                            <input type="text" id="categoryName" name="categoryName" class="form-control"
                                   placeholder="Category name" required autofocus>
                            <label for="parentId" class="form-label visually-hidden">Parent Id</label>
                            <input type="text" id="parentId" name="parentId" class="form-control visually-hidden"
                                   th:value="${parentCategory.id}" required autofocus>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit"
                            th:form="'addCategoryFormId' + *{parentCategory.id}">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>