<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="thisBook" type="java.util.Set<by.it.academy.grodno.elibrary.api.dto.books.BookDto>"*/-->
<div th:fragment="bookingBookModal(thisBook)" th:if="${thisBook.isAvailable()}">
        <!-- Button trigger modal - subscription -->
        <button type="button" class="btn btn-primary btn-sm mt-2"
                data-bs-toggle="modal"
                th:attr="data-bs-target='#bookingBookForm' + ${thisBook.id}">
            Booking
        </button>

        <!-- Modal -->
        <div class="modal fade"
             th:id="'bookingBookForm' + ${thisBook.id}"
             tabindex="-1"
             th:attr="aria-labelledby='#bookingBookFormLabel' + ${thisBook.id}"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="'bookingBookFormLabel' + ${thisBook.id}">Booking</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" th:text="${thisBook.title}"></h5>
                        <p class="modal-title text-muted" th:text="'Available count: ' + ${thisBook.availableCount}"></p>
                        <form class="row justify-content-md-center m-0 mt-2" action="#"
                              th:id="'bookingBookFormId' + ${thisBook.id}"
                              th:action="@{/subscriptions}" method="post">
                            <div class="visually-hidden">
                                <label for="bookId" class="form-label">Book Id</label>
                                <input type="text" id="bookId" name="bookId" class="form-control"
                                       th:value="${thisBook.id}"
                                       placeholder="Book Id" required autofocus>
                            </div>
                            <div class="col col-3 input-group">
                                <label for="count" class="input-group-text">Count</label>
                                <input type="number" id="count" name="count" class="form-control"
                                       th:value="1" placeholder="Count" required autofocus>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit"
                                th:form="'bookingBookFormId' + ${thisBook.id}">Booking</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>

</html>