<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="review" type="by.it.academy.grodno.elibrary.api.dto.books.ReviewDto"*/-->
<div th:fragment="deleteReviewModal(review)">
    <!-- Button trigger modal DELETE REVIEW -->
    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
            th:attr="data-bs-target='#deleteReviewModal' + *{review.id}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"></path>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
        </svg>
    </button>

    <!-- DELETE REVIEW Modal -->
    <div class="modal fade" th:id="'deleteReviewModal' + *{review.id}" tabindex="-1"
         th:attr="aria-labelledby='#deleteReviewModalLabel' + *{review.id}"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:id="'deleteReveiwModalLabel' + *{review.id}">The review will be permanently deleted</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p th:text="'Do you really want to delete: ' + *{review.id} + '?'"></p>
                    <form action="#" th:action="${'/reviews/delete' + ${review.id}}"
                          th:id="${'deleteReviewForm' + ${review.id}}" th:method="POST">
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-danger" type="submit" th:form="${'deleteReviewForm' + ${review.id}}">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>