<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="book" type="by.it.academy.grodno.elibrary.api.dto.books.BookDto"*/-->
<div th:fragment="deleteBookModal(book)">
    <!-- Button trigger modal delete book -->
    <button type="button" class="btn btn-sm" data-bs-toggle="modal"
            th:attr="data-bs-target='#deleteBookModal' + *{book.id}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-minus" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"></path>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
        </svg>
    </button>

    <!-- delete book modal -->
    <div class="modal fade" th:id="'deleteBookModal' + *{book.id}" tabindex="-1"
         th:attr="aria-labelledby='#deleteBookModalLabel' + *{book.id}"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:id="'deleteBookModalLabel' + *{book.id}">The book will be permanently deleted</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p th:text="'Do you really want to delete: ' + *{book.title} + '?'"></p>
                    <form action="#" th:action="@{/admin/books/delete}" th:method="POST"
                          th:id="'deleteBookFormId' + *{book.id}">
                        <label for="bookId" class="form-label visually-hidden">Book ID</label>
                        <input class="form-control visually-hidden" id="bookId" name="userId"
                               placeholder="UserId" th:value="*{book.id}"
                               type="text">
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-danger" type="submit"
                            th:form="'deleteBookFormId' + *{book.id}">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>