<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="category" type="by.it.academy.grodno.elibrary.api.dto.books.CategoryDto"*/-->
<span th:fragment="deleteCategoryModal(category)" th:remove="tag">
    <!-- Button trigger modal delete category -->
    <button type="button" class="btn btn-sm" data-bs-toggle="modal"
            th:attr="data-bs-target='#deleteCategoryModal' + *{category.id}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
            </svg>
    </button>

    <!-- delete category modal -->
    <div class="modal fade" th:id="'deleteCategoryModal' + *{category.id}" tabindex="-1"
         th:attr="aria-labelledby='#deleteCategoryModalLabel' + *{category.id}"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:id="'deleteCategoryModalLabel' + *{category.id}">The category will be permanently deleted</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p class="h6" th:text="'Do you really want to delete: ' + *{category.categoryName} + '?'"></p>
                    <p class="h6">Will be delete all nested categories.</p>
                    <form action="#" th:action="@{'categories/delete/' + ${category.id}}" th:method="POST"
                          th:id="'deleteCategoryFormId' + *{category.id}">
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-danger" type="submit"
                            th:form="'deleteCategoryFormId' + *{category.id}">Delete</button>
                </div>
            </div>
        </div>
    </div>
</span>

</body>

</html>