<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<div th:fragment="getAddBookForm">
    <!-- Button trigger modal set count of authors -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#getAddBookFormInputCountOfAuthors">
        Add Book
    </button>

    <!-- Modal -->
    <div class="modal fade" id="getAddBookFormInputCountOfAuthors" tabindex="-1"
         aria-labelledby="getAddBookFormInputCountOfAuthorsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="getAddBookFormInputCountOfAuthorsLabel">Do you want add new book?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="input-group m-0 row justify-content-md-center" id="countAuthorsForm" action="#"
                          th:action="@{/admin/books/add}" th:method="get">
                        <h6>Fill in the data of the book yourself.</h6>
                        <div class="col-sm-5 input-group">
                            <label class="input-group-text" for="countAuthors">Count of authors</label>
                            <input type="number" name="countAuthors" class="form-control"
                                   placeholder="Count of authors" aria-label="Count of authors"
                                   value="5" id="countAuthors">
                        </div>
                    </form>
                    <form class="input-group mt-4 m-0 row justify-content-md-center" id="isbnFormId" action="#"
                          th:action="@{/admin/books/add}" th:method="get">
                        <h6>Find book data by ISBN</h6>
                        <div class="col-sm-5 input-group">
                            <label class="input-group-text" for="isbnInput">ISBN</label>
                            <input type="text" name="isbn" class="form-control"
                                   placeholder="ISBN-10 or ISBN-13" aria-label="ISBN"
                                   id="isbnInput">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="countAuthorsForm">Add book</button>
                    <button type="submit" class="btn btn-primary" form="isbnFormId">By ISBN</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>