<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<nav th:fragment="pagination(user)" aria-label="Page navigation">
    <ul class="pagination">
        <li th:class="'page-item ' + ${pageBookDto.getNumber() > 0 ? '' : 'disabled'}">
            <a class="page-link" th:href="@{/books(size=${pageBookDto.size}, page=${pageBookDto.getNumber() - 1})}">Previous</a>
        </li>
        <li class="page-item active"
            th:if="${pageBookDto.totalPages > 0}"
            th:each="pageNumber : ${pageNumbers}"
            th:class="'page-item' + ${pageNumber == pageBookDto.number ? ' active' : ''}">
            <a class="page-link"
               th:href="@{/books(size=${pageBookDto.size}, page=${pageNumber})}"
               th:text="${pageNumber + 1}"></a>
        </li>
        <li th:class="'page-item ' + ${pageBookDto.getNumber() < pageBookDto.getTotalPages() - 1 ? '' : 'disabled'}">
            <a class="page-link"
               th:href="@{/books(size=${pageBookDto.size}, page=${pageBookDto.getNumber() + 1})}">Next</a></li>
    </ul>
</nav>

</body>

</html>