<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="currentStatusCode" type="java.lang.Integer"*/-->
<aside th:fragment="navAsideSubcriptionStatus(currentStatusCode)" class="bd-sidebar">
    <nav id="bd-docs-nav" aria-label="Docs navigation">
        <div class="list-group">
            <!--/*@thymesVar id="currentStatusCode" type="java.lang.Integer"*/-->
            <a href="subscriptions"
               th:class="'m-0 list-group-item list-group-item-action' + ${currentStatusCode == null ? ' active' : ''}">All</a>
            <a href="subscriptions?status=1"
               th:class="'m-0 list-group-item list-group-item-action' + ${currentStatusCode != null && currentStatusCode == 1 ? ' active' : ''}">Booking</a>
            <a href="subscriptions?status=2"
               th:class="'m-0 list-group-item list-group-item-action' + ${currentStatusCode != null && currentStatusCode == 2 ? ' active' : ''}">Reading</a>
            <a href="subscriptions?status=3"
               th:class="'m-0 list-group-item list-group-item-action' + ${currentStatusCode != null && currentStatusCode == 3 ? ' active' : ''}">Reading extended</a>
            <a href="subscriptions?status=4"
               th:class="'m-0 list-group-item list-group-item-action' + ${currentStatusCode != null && currentStatusCode == 4 ? ' active' : ''}">Completed</a>
            <a href="subscriptions?status=5"
               th:class="'m-0 list-group-item list-group-item-action' + ${currentStatusCode != null && currentStatusCode == 5 ? ' active' : ''}">Expired</a>
        </div>

        <form class="input-group mt-3" action="#" th:action="@{subscriptions}" th:method="get">
            <input type="text" name="subscriptionId" class="form-control"
                   placeholder="Subscription ID" aria-label="User library card number"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Find</button>
        </form>
    </nav>
</aside>

</body>

</html>