<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="currentStatusCode" type="java.lang.Integer"*/-->
<aside th:fragment="navAsideSubcriptionStatus(currentStatusCode)" class="bd-sidebar">
    <nav id="bd-docs-nav" aria-label="Docs navigation">
        <div th:replace="::statusList(statusCode=${currentStatusCode})"></div>
    </nav>
</aside>

<div th:fragment="statusList(statusCode)" class="list-group">
    <!--/*@thymesVar id="statusCode" type="java.lang.Integer"*/-->
    <a href="subscriptions"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode == null ? ' acitve' : ''}">All</a>
    <a href="subscriptions?status=1"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(1) ? ' acitve' : ''}">Booking</a>
    <a href="subscriptions?status=2"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(2) ? ' acitve' : ''}">Reading</a>
    <a href="subscriptions?status=3"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(3) ? ' acitve' : ''}">Reading extended</a>
    <a href="subscriptions?status=4"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(4) ? ' acitve' : ''}">Completed</a>
    <a href="subscriptions?status=5"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(5) ? ' acitve' : ''}">Expired</a>
</div>

</body>

</html>