<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<aside th:fragment="navAsideSubcriptionStatusAndInput(currentStatusCode, userId)" class="bd-sidebar">
    <nav id="bd-docs-nav" aria-label="Docs navigation">
        <div th:replace="::statusList(statusCode=${currentStatusCode})"></div>
        <form class="mt-5" action="#" th:action="@{subscriptions}" th:method="get">
            <label for="userId" class="form-label">User ID</label>
            <div class="input-group mb-3">
                <input type="number" name="userId" class="form-control" id="userId"
                       placeholder="User ID" aria-label="User library card number" th:value="${userId}"
                       aria-describedby="button-addon1">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Find</button>
            </div>
        </form>
        <form class="mt-3" action="#" th:action="@{subscriptions}" th:method="get">
            <label for="subscriptionId" class="form-label">Subscription ID</label>
            <div class="input-group mb-3">
                <input type="number" name="subscriptionId" class="form-control" id="subscriptionId"
                       placeholder="Subscription ID" aria-label="User library card number"
                       aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Find</button>
            </div>
        </form>
    </nav>
</aside>

<div th:fragment="statusList(statusCode)" class="list-group">
    <!--/*@thymesVar id="statusCode" type="java.lang.Integer"*/-->
    <a href="subscriptions"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode == null ? ' acitve' : ''}">All</a>
    <a href="subscriptions?status=1"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(1) ? ' acitve' : ''}">Booking</a>
    <a href="subscriptions?status=2"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(2) ? ' acitve' : ''}">Reading</a>
    <a href="subscriptions?status=3"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(3) ? ' acitve' : ''}">Reading extended</a>
    <a href="subscriptions?status=4"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(4) ? ' acitve' : ''}">Completed</a>
    <a href="subscriptions?status=5"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(5) ? ' acitve' : ''}">Expired</a>
</div>

</body>

</html>