<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<aside th:fragment="navAsideSubcriptionStatusAndInput(currentStatusCode)" class="bd-sidebar">
    <nav id="bd-docs-nav" aria-label="Docs navigation">
        <div th:replace="::statusList(statusCode=${currentStatusCode})"></div>
        <form class="input-group mt-5" action="#" th:action="@{/admin/subscriptions}" th:method="get">
            <input type="text" name="userId" class="form-control"
                   placeholder="User ID" aria-label="User library card number"
                   aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Find</button>
        </form>
        <form class="input-group mt-3" action="#" th:action="@{/admin/subscriptions}" th:method="get">
            <input type="text" name="subscriptionId" class="form-control"
                   placeholder="Subscription ID" aria-label="User library card number"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Find</button>
        </form>
    </nav>
</aside>

<div th:fragment="statusList(statusCode)" class="list-group">
    <!--/*@thymesVar id="statusCode" type="java.lang.Integer"*/-->
    <a href="subscriptions"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode == null ? ' acitve' : ''}">All</a>
    <a href="subscriptions?status=1"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(1) ? ' acitve' : ''}">Booking</a>
    <a href="subscriptions?status=2"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(2) ? ' acitve' : ''}">Reading</a>
    <a href="subscriptions?status=3"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(3) ? ' acitve' : ''}">Reading extended</a>
    <a href="subscriptions?status=4"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(4) ? ' acitve' : ''}">Completed</a>
    <a href="subscriptions?status=5"
       th:class="'m-0 list-group-item list-group-item-action' + ${statusCode != null && statusCode.equals(5) ? ' acitve' : ''}">Expired</a>
</div>

</body>

</html>