<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="thisSubscription" type="by.it.academy.grodno.elibrary.api.dto.books.SubscriptionDto"*/-->
<div th:fragment="subscriptionUpdateModal(thisSubscription)">
    <!-- Button trigger modal - subscription -->
    <div th:if="${!thisSubscription.getStatus().equalsIgnoreCase('completed')}">
        <button type="button" class="btn btn-primary btn-sm mt-2"
                data-bs-toggle="modal"
                th:attr="data-bs-target='#subscriptionUpdateForm' + ${thisSubscription.id}">
            Change
        </button>

        <!-- Modal -->
        <div class="modal fade"
             th:id="'subscriptionUpdateForm' + ${thisSubscription.id}"
             tabindex="-1"
             th:attr="aria-labelledby='#subscriptionUpdateFormLabel' + ${thisSubscription.id}"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="'subscriptionUpdateFormLabel' + ${thisSubscription.id}">
                            Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" th:text="${thisSubscription.bookDetails.title}"></h5>
                        <h6 class="modal-title" th:text="'Took: ' + ${thisSubscription.took}"></h6>
                        <h6 class="modal-title" th:text="'Returned: ' + ${thisSubscription.returned} "></h6>
                        <h6 class="modal-title" th:text="'Status: ' + ${thisSubscription.status}"></h6>
                        <form class="input-group mt-3 mb-3" action="#" th:action="@{/admin/subscriptions}" method="post">
                                <label for="count" class="input-group-text">Count</label>
                                <input type="number" id="count" name="count" class="form-control"
                                       th:value="${thisSubscription.took}"
                                       placeholder="Count" required autofocus>
                                <label for="bookId" class="input-group-text visually-hidden">Book ID</label>
                                <input type="text" id="bookId" name="bookId" class="form-control visually-hidden"
                                       th:value="${thisSubscription.bookDetails.id}"
                                       placeholder="Book Id" required autofocus>
                                <label for="days" class="input-group-text">Days</label>
                                <input type="number" id="days" name="days" class="form-control"
                                       th:value="10" required autofocus>
                                <label for="subscriptionId" class="input-group-text visually-hidden">Id</label>
                                <input type="text" id="subscriptionId" name="id" class="form-control visually-hidden"
                                       th:value="${thisSubscription.bookDetails.id}" required>
                                <select name="code" class="form-select" aria-label="request code">
                                    <option value="2" selected>Take book</option>
                                    <option value="3">Leave book</option>
                                    <option value="4">Extended subscription</option>
                                </select>
                                <button class="btn btn-outline-primary" type="submit">Change</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>