<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<!--/*@thymesVar id="review" type="by.it.academy.grodno.elibrary.api.dto.books.ReviewDto"*/-->
<div th:fragment="updateReviewModal(review)">
    <!-- Button trigger modal update review -->
    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
            th:attr="data-bs-target='#updateReviewModal' + ${review.id}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
            <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"></path>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
        </svg>
    </button>

    <!-- update review Modal -->
    <div class="modal fade" th:id="'updateReviewModal' + ${review.id}" tabindex="-1"
         th:attr="aria-labelledby='#updateReviewModalLabel' + ${review.id}"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        th:id="'updateReveiwModalLabel' + ${review.id}">The review will be permanently updated</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p th:text="'Do you really want to update review by book \'' + ${review.bookDetails.title} + '\'?'"></p>
                    <!--/*@thymesVar id="review" type="by.it.academy.grodno.elibrary.api.dto.books.ReviewDto"*/-->
                    <form action="#" th:action="'reviews/update/' + ${review.id}" enctype="multipart/form-data"
                          th:id="'updateReviewForm' + ${review.id}" th:method="post">
                        <div class="col-3 input-group">
                            <span class="form-label mt-1">Grade:</span>
                            <label class="form-check-label m-1" for="gradeRadio0">
                                <input class="form-check-input me-1" id="gradeRadio0" type="radio"
                                       value="0" name="grade"
                                       th:checked="${review.grade == 0}">0</label>
                            <label class="form-check-label m-1" for="gradeRadio1">
                                <input class="form-check-input me-1" id="gradeRadio1" type="radio"
                                       value="1" name="grade"
                                       th:checked="${review.grade == 1}">1</label>
                            <label class="form-check-label m-1" for="gradeRadio2">
                                <input class="form-check-input me-1" id="gradeRadio2" type="radio"
                                       value="2" name="grade"
                                       th:checked="${review.grade == 2}">2</label>
                            <label class="form-check-label m-1" for="gradeRadio3">
                                <input class="form-check-input me-1" id="gradeRadio3" type="radio"
                                       value="3" name="grade"
                                       th:checked="${review.grade == 3}">3</label>
                            <label class="form-check-label m-1" for="gradeRadio4">
                                <input class="form-check-input me-1" id="gradeRadio4" type="radio"
                                       value="4" name="grade"
                                       th:checked="${review.grade == 4}">4</label>
                            <label class="form-check-label m-1" for="gradeRadio5">
                                <input class="form-check-input me-1" id="gradeRadio5" type="radio"
                                       value="5" name="grade"
                                       th:checked="${review.grade == 5}">5</label>
                        </div>
                        <div class="col">
                            <label class="form-label mb-1" for="reviewText">Text of review</label>
                            <textarea class="form-control" id="reviewText" placeholder="Type some text" name="text"
                                      th:value="${review.text}" type="text"></textarea>
                        </div>
                        <div class="visually-hidden">
                            <div class="col">
                                <label class="form-label" for="bookId">Book Id</label>
                                <input class="form-control" id="bookId" placeholder="Book Id"
                                       th:value="${review.bookId}" name="bookId" type="number">
                            </div>
                            <div class="col">
                                <label class="form-label" for="userId">User Id</label>
                                <input class="form-control" id="userId" placeholder="User Id"
                                       th:value="${review.userId}" name="userId" type="number">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-success" type="submit" th:form="'updateReviewForm' + ${review.id}">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>