<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
<nav th:fragment="copy" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!--/*@thymesVar id="currentUser" type="by.it.academy.grodno.elibrary.api.dto.users.UserDto"*/-->
    <div class="container-fluid" th:object="${currentUser}">
        <a class="navbar-brand" href="/">E-Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/books">Book</a>
                </li>
                <li th:if="${currentUser != null && currentUser.getRoles().contains('ROLE_ADMIN')}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" th:href="@{/admin/subscriptions}">Manage subscriptions</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/books}">Manage books</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/users}">Manage users</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/categories}">Manage categories</a></li>
                    </ul>
                </li>
            </ul>

            <div class="d-flex">
                <div>
                    <div th:if="${currentUser != null}">
                        <a class="btn btn btn-outline-secondary" th:href="@{'/subscriptions'}">My subscriptions</a>
                        <a class="btn btn btn-outline-primary" th:href="@{'/users/info'}" th:text="*{username}"></a>
                        <a class="btn btn-outline-danger" href="/logout">Log out</a>
                    </div>
                    <div th:if="${currentUser == null}">
                        <a class="btn btn-outline-warning" href="/signup">Sign up</a>
                        <a class="btn btn-outline-success" href="/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>

</html>