<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscription expired</title>
    <style>
        .table {
            font-size: 12px;
            font-family: Arial, sans-serif;
            margin-right: auto;
            margin-left: auto;
        }
        .welcome {
            font-size: 24px;
            font-family: Arial, sans-serif;
        }
        .p1 {
            font-size: 12px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
<table style="background-color:#d8dfe7;width:100%;border:0;padding:0 30px 0 30px">
    <tbody>
    <tr>
        <td>
            <table style="width:600px;margin-left:auto;margin-right:auto;border:0">
                <tbody>
                <tr>
                    <td>
                        <a href="https://lacalhost:8080/" target="_blank" style="padding:20px 0 20px 20px" class="CToWUd">
                            <img src="https://github.com/Aliaksandr-Rachko/elibrary/blob/master/elibrary-controller/src/main/resources/static/img/logo/logo_200_200.png"
                                 alt="e-library">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 20px 20px 20px;background-color:#b4d1db;color:#022731;text-align:center;border-radius:8px">
                        <p class="welcome">Hello <span th:text="${user.username}"></span>, welcome to E-Library!</p>
                        <p class="p1" style="color: brown">Time of your subscription expired!</p>
                        <!--/*@thymesVar id="subscription" type="by.it.academy.grodno.elibrary.entities.books.Subscription"*/-->
                        <p class="p1">Number of your subscription: <span th:text="${subscription.id}"></span></p>
                        <p class="p1">Book info:</p>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <!--/*@thymesVar id="subscription" type="by.it.academy.grodno.elibrary.entities.books.Subscription"*/-->
                                    <!--/*@thymesVar id="book" type="by.it.academy.grodno.elibrary.entities.books.Book"*/-->
                                    <img  src="#" th:src="${subscription.book.pictureUrl}" alt="no picture" width="70"/>
                                </td>
                                <td>
                                    <!--/*@thymesVar id="subscription" type="by.it.academy.grodno.elibrary.entities.books.Subscription"*/-->
                                    <!--/*@thymesVar id="book" type="by.it.academy.grodno.elibrary.entities.books.Book"*/-->
                                    <p th:text="'N' + ${subscription.book.id}"></p>
                                    <h6 th:text="${subscription.book.title}"></h6>
                                    <p>
                                        <span th:each="author : ${subscription.book.authors}" th:text="${author.authorName} + ', '"></span>
                                        <span th:text="${subscription.book.datePublishing}"></span>
                                    </p>
                                    <p th:text="'Publisher: ' + ${subscription.book.publisher.publisherName}"></p>
                                    <p th:text="'Deadline: ' + ${subscription.deadline}"></p>
                                    <p th:text="'Status: ' + ${subscription.status}"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="font-family:Arial,sans-serif">Happy reading!<br> The E-Library Team</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top:20px;text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:14px;color:#878787">
            <table style="margin-left:auto;margin-right:auto;width:600px;border:0">
                <tbody>
                <tr>
                    <td style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:14px;color:#878787">
                        This email was sent by request to
                        <a style="color:#878787" th:href="'mailto:' + ${user.getEmail()}" target="_blank" th:text="${user.getEmail()}"></a>
                        <br>
                        <p>
                            Questions? Send email to <a style="color:#878787!important" href="mailto:rachko.a.ch@gmail.com"
                                                        target="_blank">rachko.a.ch@gmail.com</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding:8px 0 30px 0;text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;color:#878787">
                        Copyright &copy; 2021, All Right Reserved Aliaksandr Rachko
                        <br>
                        184 Dominicans Street, Hrodna, Belarus
                        <br>
                        <a style="color:#878787!important"
                           href="https://www.freeprivacypolicy.com/live/61b275fc-0ad7-455b-82ff-04d5cf038b94"
                           target="_blank"
                           data-saferedirecturl="https://www.google.com/url?q=https://www.freeprivacypolicy.com/live/61b275fc-0ad7-455b-82ff-04d5cf038b94">Privacy Policy</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>