<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>

<body>
<table style="background-color:#d8dfe7;width:100%;border:0;padding:0 30px 0 30px">
    <tbody>
    <tr>
        <td>
            <table style="width:600px;margin-left:auto;margin-right:auto;border:0">
                <tbody>
                <tr>
                    <td>
                        <a href="https://lacalhost:8080/" target="_blank" style="padding:20px 0 20px 20px" class="CToWUd">
                            <img src="https://github.com/Aliaksandr-Rachko/elibrary/blob/master/elibrary-controller/src/main/resources/static/img/logo/logo_200_200.png"
                                 alt="e-library">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 20px 20px 20px;background-color:#b4d1db;color:#022731;text-align:center;border-radius:8px">
                        <p style="font-size:24px;font-family:Arial,sans-serif">Hello <span th:text="${user.username}"></span>, welcome to E-Library!</p>
                        <!--/*@thymesVar id="verifyPassword" type="String"*/-->
                        <p th:if="${verifyPassword != null}" style="font-family:Arial,sans-serif" th:text="'Your password: '${verifyPassword}"></p>
                        <p style="font-family:Arial,sans-serif">To get started discovering great new books, click here:</p>
                        <p style="padding:12px 0">
                            <a style="font-family:Helvetica,Arial,sans-serif;font-size:24px;color:#efefef;font-weight:bold;border-radius:6px;background:#5c6586;border-style:solid;border-color:#70a1dc;border-width:3px;text-align:center;padding:11px 22px;text-decoration:none;border-top-color:#7fa6d5;border-bottom-color:#7fa6d5;border-left-color:#7fa6d5;border-right-color:#7fa6d5"
                               href="https://lacalhost:8080/"
                               data-saferedirecturl="https://www.google.com/url?q=https://lacalhost:8080/"
                               target="_blank">Get starting</a></p>
                        <p style="font-family:Arial,sans-serif">Happy reading!<br> The E-Library Team</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top:20px;text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:14px;color:#878787">
            <table style="margin-left:auto;margin-right:auto;width:600px;border:0">
                <tbody>
                <tr>
                    <td style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:14px;color:#878787">
                        This email was sent by request to
                        <a style="color:#878787" th:href="'mailto:' + ${user.getEmail()}" target="_blank" th:text="${user.getEmail()}"></a>
                        <br>
                        <p>
                            Questions? Send email to <a style="color:#878787!important"
                                                href="mailto:rachko.a.ch@gmail.com"
                                                target="_blank">rachko.a.ch@gmail.com</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding:8px 0 30px 0;text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;color:#878787">
                        Copyright &copy; 2021, All Right Reserved Aliaksandr Rachko
                        <br>
                        184 Dominicans Street, Hrodna, Belarus
                        <br>
                        <a style="color:#878787!important"
                           href=""
                           target="_blank"
                           data-saferedirecturl="https://www.google.com/url?q=">Privacy Policy</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>