<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscription expired</title>

    <style>
        .table {
            font-size: 12px;
            font-family: Arial, sans-serif;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .welcome {
            font-size: 24px;
            font-family: Arial, sans-serif;
        }
        .p1 {
            font-size: 12px;
            font-family: Arial, sans-serif;
        }

        .p2 {
            font-size: 12px;
            font-family: Arial, sans-serif;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>
</head>

<body>
<table style="background-color:#d8dfe7;width:100%;border:0;padding:0 30px 0 30px">
    <tbody>
    <tr>
        <td>
            <table style="width:600px;margin-left:auto;margin-right:auto;border:0">
                <tbody>
                <tr>
                    <td>
                        <a href="https://lacalhost:8080/" target="_blank" style="padding:20px 0 20px 20px" class="CToWUd">
                            <img src="https://github.com/Aliaksandr-Rachko/elibrary/blob/master/elibrary-controller/src/main/resources/static/img/logo/logo_200_200.png"
                                 alt="e-library">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:20px 20px 20px 20px;background-color:#b4d1db;color:#022731;text-align:center;border-radius:8px">
                        <p class="welcome">Hello <span th:text="${user != null ? user.username : 'friend'}"></span>, welcome to E-Library!</p>
                        <p class="p1">The list of expired subscriptions</p>
                        <table class="table">
                            <thead>
                                <tr style="border: 1px solid black; border-collapse: collapse;">
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">#</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">Book</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">User</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">Count</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">Status</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">Ret</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">Created</th>
                                    <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--/*@thymesVar id="subscriptions" type="by.it.academy.grodno.elibrary.entities.books.Subscription"*/-->
                            <tr style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;" th:each="subscription : ${subscriptions}">
                                <!--/*@thymesVar id="subscription" type="by.it.academy.grodno.elibrary.entities.books.Subscription"*/-->
                                <th style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;" scope="row" th:text="${subscription.id}"></th>
                                <!--/*@thymesVar id="bookDetails" type="by.it.academy.grodno.elibrary.api.dto.books.BookDto"*/-->
                                <td style="border: 1px solid black; border-collapse: collapse; margin: 2px 2px;">
                                    <p class="p2" th:text="${subscription.book.title}"></p>
                                    <p class="p2">
                                        <span th:each="author : ${subscription.book.authors}" th:text="${author.authorName} + ', '"></span>
                                        <span th:text="${subscription.book.datePublishing}"></span>
                                    </p>
                                    <p th:text="'Book id:' + ${subscription.book.id}"></p>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse;margin: 2px 2px;">
                                    <p class="p2" th:text="${subscription.user.username}"></p>
                                    <p class="p2" th:text="${subscription.user.email}"></p>
                                    <p class="p2" th:text="'ID:' + ${subscription.user.id}"></p>
                                </td>
                                <td style="border: 1px solid black; border-collapse: collapse; margin: 2px 2px;" th:text="${subscription.took}"></td>
                                <td style="border: 1px solid black; border-collapse: collapse; margin: 2px 2px;" th:text="${subscription.status}"></td>
                                <td style="border: 1px solid black; border-collapse: collapse; margin: 2px 2px;" th:text="${subscription.returned}"></td>
                                <td style="border: 1px solid black; border-collapse: collapse; margin: 2px 2px;" th:text="${subscription.created}"></td>
                                <td style="border: 1px solid black; border-collapse: collapse; margin: 2px 2px;" th:text="${subscription.deadline}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-top:20px;text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;line-height:14px;color:#878787">
            <table style="margin-left:auto;margin-right:auto;width:600px;border:0">
                <tbody>
                <tr>
                    <td style="padding:8px 0 30px 0;text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:11px;color:#878787">
                        Copyright &copy; 2021, All Right Reserved Aliaksandr Rachko
                        <br>
                        184 Dominicans Street, Hrodna, Belarus
                        <br>
                        <a style="color:#878787!important"
                           href="https://www.freeprivacypolicy.com/live/61b275fc-0ad7-455b-82ff-04d5cf038b94"
                           target="_blank"
                           data-saferedirecturl="https://www.google.com/url?q=https://www.freeprivacypolicy.com/live/61b275fc-0ad7-455b-82ff-04d5cf038b94">Privacy Policy</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>